.benefits {
  width: 100%;
  padding: 30px 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  color: var(--color-default-white);

  position: relative;

  h2 {
    @include hidden;
  }

  img {
    position: absolute;
    inset: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
  }

  @media (max-width: (33.7em - 0.06em)) {
    padding: 8px 0;
  }
}

.benefits__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 30px;

  p {
    margin: 0;

    font-size: 32px;
    font-weight: 600;
    line-height: 120%;

    @media (max-width: (80em - 0.06em)) {
      font-size: 20px;
    }

    @media (max-width: (47.97em - 0.06em)) {
      font-size: 16px;
    }
  }

  @media (max-width: (33.7em - 0.06em)) {
    gap: 8px;
  }
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: (80em - 0.06em)) {
    gap: 10px;
  }

  @media (max-width: (33.7em - 0.06em)) {
    grid-template-columns: 1fr;
  }
}

.benefits__item {
  padding-left: 45px;
  position: relative;

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;

    @media (max-width: (80em - 0.06em)) {
      font-size: 16px;
      font-weight: 400;
    }

    @media (max-width: (47.97em - 0.06em)) {
      font-size: 14px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    width: 30px;
    height: 30px;
    background: url("/svg/star.svg") no-repeat center;
    background-size: contain;

    @media (max-width: (47.97em - 0.06em)) {
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: (47.97em - 0.06em)) {
    padding-left: 28px;
  }
}
